* {
  box-sizing: border-box;
}


/*  old colors

background-color: #F1F1EB;

*/
body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4E4C50;
  /*background-color: #CFEEFF;*/
}

a {
  color: #E9F7FF;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 15px 60px 30px 60px;
}

.content-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90vw;
  margin: 0 auto;
}

.full-opacity {
  opacity: 1;
}

.zero-opacity {
  opacity: 0;
  pointer-events: none;
}

.static-head {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.header-outer {
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin: 20px 0 40px 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.content-outer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 30px 0;
}

/* Area Menu Styles */
.area-menu {
  width: 100%;
  margin-bottom: 10px;
}

.area-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.area-menu-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px 10px 5px;
  flex: 1;
  white-space: nowrap;
  width: 33%;
  text-align: center;
  transition: all 250ms;
}


.area-menu-item:first-child {
  margin-left: 0;
}

.area-menu-item:last-child {
  margin-right: 0;
}

.area-menu-item:hover {

}

/* Area Sub Menu Styles*/
.sub-area-menu {
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 20px;
  position: absolute;
  border: 1px solid black;
  background: #fff;
  top: 10px;
  left: 10px;
}

.sub-area-menu-item {
  margin: 0 15px;
}

.area-sub-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  max-height: 70vh;
  top: 0;
  left: 0;
/*  min-width: 185px;
  max-width: 50vw; */
  z-index: 10000;
}

.area-sub-menu-item {
  text-align: center;
  /*padding: 20px 10px;*/
  line-height: 3;
  width: 250px;
  background-color: #CFEEFF;
  cursor: pointer;
}

.area-sub-menu-item:hover {

}

.area-sub-menu-item-full {
  width: 100%;
}
/* Area Sub Menu Styles: End */
/* Area Menu Styles: End */

/* Header Styles */
.header {
  border-bottom: 1px solid #000;
  margin: 0 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 0.75;
}

.area-header {
  font-size: 3rem;
  text-transform: capitalize;
  margin: 0 20px 0 0;
  padding: 0;
}


@media screen and (min-width: 1100px) {
  .header {
    flex-wrap: wrap;
  }
}

/* Date Range Styles */
.date-range-block {
  min-width: 450px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.75rem;
  margin: 0;
}

.date-range {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: #4F4FDA;
}

.date-range-spacer {
  margin: 0 0.25em;
}

.date-range-spacer:first-child {
  margin: 0 0.25em 0 0;
}

/* Calendar Styles */
.cal-holder {
  position: absolute;
  background-color: #F1F1EB;
}

.calendar {
  border: 1px solid black;
}

.calendar-header-month {
  padding: 10px 0;
}

.month-next,
.month-prev {
  cursor: pointer;
}

.calendar-day,
.calendar-day-of-week {
  padding: 3px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #000;
}

.calendar-day.inactive {
  opacity: 0;
}

.calendar-day.active:hover {
  background-color: #E9F7FF;
  cursor: pointer;
}

.calendar-day-of-week {
  font-weight: bold;
}

.calendar-header-row {
  text-align: center;
}
/* Calendar Styles: End */
/* Date Range Styles: End */
/* Header Styles: End */


.stat-box, .factor-box {
  width: 90vw;
  margin: 0;
  padding: 0 0 30px 0;
  /*background-color: #EAEAEA;
  box-shadow: 3px 4px 0 black;*/
}

@media screen and (min-width: 960px) {
  .stat-box, .factor-box {
    width: 50%;
  }
}

.stat-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0;
}

.item {
  cursor: pointer;
  border-collapse: collapse;
}

.item:hover {
  background-color: #E9F7FF;
}

.stat-list-item.item,
.factor.item {
  cursor: initial;
  font-weight: normal;
}

.stat-list-item.item:hover,
.factor.item:hover {
  background-color: transparent;
}

.default-item {
  text-align: center;
  flex: 1;
  border: 1px solid #4E4C50;
  border-top: none;
  padding: 1.25vh 0;
}

.stat-group > .header-item {
  font-weight: bold;
  font-size: 2em;
  border: 1px solid #4E4C50;
  width: 100%;
  margin: 3vh 0 0 0;
  padding: 0.35em;
}

.header-item:first-child {
  margin: 0;
}

.sub-header-item {
  display: inline-block;
  width: 50%;
  border: 1px solid #4E4C50;
  border-top-width: 0;
  padding: 0.25em;
}

.value {
  display: inline-block;
  margin: 0 0.25em 0 0;
}

.default-item-value {
  display: block;
  font-size: 1.25em;
  margin: 0;
}

.header-item-value {

}

.sub-header-item-value {

}

.label {
  display: inline-block;
}

.default-item-label {
  display: block;
}

.header-item-label {

}

.sub-header-item-label {

}

.stat-list {
  margin: 0;
  padding: 0;
  width: 90%;
}

.stat-list-title {
  border-bottom: 1px solid black;
  font-size: 1.5em;
  line-height: 0.75;
  margin: 0 0 15px 0;
  width: 90%;
}

.stat-list-item {
  font-size: 1rem;
  line-height: 1;
  padding: 5px 0 5px 5px;
  margin: 0;
}

.carto-map {
  padding: 0 0 60px 0;
  margin: 0;
  height: 70vh;
  width: 50%;
/*  background-color: #EAEAEA;
  box-shadow: 3px 4px 0 black;*/
}

.cartodb-map-wrapper {
  border: 1px solid black;
}


.rank-list {
  width: 50%;
  padding: 0 0 30px 0;
/*  background-color: #EAEAEA;
  box-shadow: 3px 4px 0 black;*/
}

.rank-list-title {
  border-bottom: 1px solid black;
  font-size: 1.5em;
  line-height: 0.75;
  margin: 0 0 15px 0;
  width: 90%;
}

.rank-list ul {
  padding: 0;
  line-height: 1.5;
  list-style: none;
}

.rank-list-item {
  text-transform: capitalize;
}



/***********************
 *  Begin Color Rules  *
 ***********************/
.borough,
.neighborhood {
  background-color:  rgba(255, 153, 19, 0.55);
}

.city-council,
.precinct {
  background-color: rgba(178, 102, 0, 0.55);
}

.community-board,
.zip-code {
  background-color:  rgba(255, 164, 44, 0.55);
}

.borough:hover,
.neighborhood:hover {
  background-color:  rgba(255, 153, 19, 1);
  color: #fff;
}

.city-council:hover,
.precinct:hover {
  background-color: rgba(178, 102, 0, 1);
  color: #fff;
}

.community-board:hover,
.zip-code:hover {
  background-color:  rgba(255, 164, 44, 1);
  color: #fff;
}


.manhattan {
  background-color: rgba(167, 204, 35, 1);
  border: 2px solid rgba(167, 204, 35, 1);
}

.bronx {
  background-color: rgba(172, 186, 120, 1);
  border: 2px solid rgba(172, 186, 120, 1);
}

.brooklyn {
  background-color: rgba(124, 143, 255, 1);
  border: 2px solid rgba(124, 143, 255, 1);
}

.queens {
  background-color: rgba(255, 229, 70, 1);
  border: 2px solid rgba(255, 229, 70, 1);
}

.staten-island {
  background-color: rgba(116, 152, 204, 1);
  border: 2px solid rgba(116, 152, 204, 1);
}

.manhattan:hover {
  background-color: rgba(167, 204, 35, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.bronx:hover {
  background-color: rgba(172, 186, 120, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.brooklyn:hover {
  background-color: rgba(124, 143, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.queens:hover {
  background-color: rgba(255, 229, 70, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.staten-island:hover {
  background-color: rgba(116, 152, 204, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

/*********************
 *  End Color Rules  *
 *********************/
